@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes jquery{
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}

@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}


@keyframes node{
    0%{
        width: 0vw;
    }
    100%{
        width: 60%;
    }
}


/*Two*/
@keyframes htmlII{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

@keyframes cssII{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

@keyframes javascriptII{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes nodeII{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}


/*Main*/
@keyframes bar-yi{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes bar-er{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes bar-san{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes bar-si{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes bar-wu{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}



/*Three*/
@keyframes htmlIII{
    0%{
        width: 0%;
    }
    100%{
        width: 6%;
    }
}

@keyframes cssIII{
    0%{
        width: 0%;
    }
    100%{
        width: 18%;
    }
}

@keyframes javascriptIII{
    0%{
        width: 0%;
    }
    100%{
        width: 15%;
    }
}

@keyframes reactI{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}



/*four*/
/*Three*/
@keyframes htmlIV{
    0%{
        width: 0%;
    }
    100%{
        width: 46%;
    }
}

@keyframes cssIV{
    0%{
        width: 0%;
    }
    100%{
        width: 32%;
    }
}

@keyframes javascriptIV{
    0%{
        width: 0%;
    }
    100%{
        width: 4%;
    }
}

@keyframes nodeIV{
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}


/*Home page git hub modal*/
@keyframes slideUp{
    0%{
        height: 0;
    }
    100%{
        height: 50px;
    }
}





